{$DOMAINS} {
    @authed header X-Api-Token {$API_TOKEN}

    handle /health/* {
        reverse_proxy healthcheck:8080
    }

    handle @authed {
        reverse_proxy telegram-bot-api:8081
    }

    handle {
        respond 403
    }
}
